<div style="padding-bottom: 40px;">
    <!-- Product section-->
    <div class="col-12 bg-white">
        <h1 class="text-center py-4 text-primary">Chi tiết</h1>
    </div>
    <section class="container bg-light">
        <div class="px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6 ">
                    <img class="card-img-top mb-5 mb-md-0"
                        style="max-width: 400px;"
                        src=<%= product['THUMBNAIL'] %>
                    alt=".." />
                </div>
                <form class="col-md-6" method="POST" action="/cart/add">
                    <input type="hidden" name="id" value="<%= product['ID'] %>">
                    <div class="small mb-1">ID: <%= product['ID'] %></div>
                    <h1 class="display-5 fw-bolder"><%= product['NAME'] %></h1>
                    <p class="lead">
                        <%= product['DES'] %>
                    </p>

                    <select class="form-control mb-3" name="size" style="cursor: pointer;">
                        <% size.forEach(function(item) { %>
                        <option value="<%= item['SIZE'] %>&<%= item['PRICE'] %>"> Size: <%= item['SIZE'] %> ~ <%= item['PRICE'] %> (VNĐ) </option>
                        <% }); %>
                    </select>
                    

                    <div class="d-flex">
                        <input class="form-control text-center me-3"
                            id="inputQuantity" type="number" value="1" min="1" name="quantity"
                            style="max-width: 8rem; width: 6rem;" />
                        <button class="btn btn-outline-primary flex-shrink-0"
                            type="submit">
                            <i class="fa-solid fa-cart-plus"></i>
                            Thêm vào giỏ hàng
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Related items section-->
    <section class="py-5 bg-light">
        <div class="container px-4 px-lg-5 mt-5">
            <h2 class="fw-bolder mb-4">Related products</h2>
            <div
                class="Related-products row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center ">
                <% related.forEach(function(item) { %>
                <div style="min-width: 120px;" class="col-3 mb-4">
                    <div class="card card_product">
                        <div class="ratio ratio-4x3">
                            <img
                            src=<%= item["THUMBNAIL"] %>
                            class="card-img-top" alt="..">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><%= item["NAME"] %></h5>
                            <p class="card-text text-des"><%= item["DES"] %></p>
                        </div>
                        <a href="/product/detail/<%= item["ID"] %>" class="btn btn-primary mb-2">Chitiết</a>
                    </div>
                </div>
                <% }); %>

            </div>
        </div>
    </section>
</div>