<div class="container pb-5 bg-light">
  <div class="row" style="padding-bottom: 40px;">
    <div class="col-12 bg-white">
      <h1 class="text-center py-4 text-primary">Trang Chủ</h1>
    </div>
    <div class="col-md-3 nav_pc py-2">
      <!-- Danh mục sản phẩm -->
      <ul class="category-list">
        <h5>Danh mục</h5>

        <li>
          <div class="category">
            <a href="/" class="nav-link text-primary">Tất cả</a>
          </div>
        </li>
        <li>
          <div class="category">
            <a href="/product/filter?sort=ASC" class="nav-link text-primary">Mới nhất</a>
          </div>
        </li>
        <li>
          <div class="category">
            <a href="/product/filter?sort=DESC" class="nav-link text-primary">Truyền thống</a>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-md-9">
      <h4 class="text-center pt-3">Danh sách sản phẩm</h4>

      <!-- Navbar Mobile -->
      <div class="row justify-content-start flex-nowrap d-none nav_mobile py-2">
        <div class="col-auto">
          <a href="/" class="link nav_button">Tất cả</a>
        </div>
        <div class="col-auto">
          <a href="/product/filter?sort=ASC" class="link nav_button">Mới nhất</a>
        </div>
        <div class="col-auto">
          <a href="/product/filter?sort=DESC" class="link nav_button">Truyền thống</a>
        </div>
      </div>

      <!-- Thanh tìm kiếm -->
      <div class="search-bar">
        <form class="form-inline d-flex pb-2 align-items-center" action="/product/filter" method="get" >
          <input class="form-control mr-sm-2" type="search"
            placeholder="Tìm kiếm" aria-label="Search" name="name">
          <button class="btn btn-outline-primary my-2 ms-2 my-sm-0"
            type="submit">Tìm</button>
        </form>
      </div>

      <!-- Danh sách các sản phẩm -->
      <div class="product-list mt-2">
        <div class="row">
          <% products.forEach(function(item) { %>
            
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-4" >
              <div class="card card_product">
                <div class="ratio ratio-4x3">
                  <img src=<%= item['THUMBNAIL'] %> class="card-img-top img-fluid" alt="..">
                </div>
                <div class="card-body">
                  <h6 class="card-title" style="min-height: 3em;"><%= item["NAME"] %></h6>
                  <div>
                    <p class="card-text text-des"><%= item["DES"] %></p>
                  </div>
                </div>
                <a href="/product/detail/<%= item['ID'] %>" class="btn btn-primary mb-2">Chi tiết</a>
              </div>
            </div>
          <% }) %>
          
        </div>
        <nav aria-label="Page navigation example">
          <%- include('./components/pagination') %>
        </nav>
      </div>
    </div>
  </div>
</div>
